<p id="notice"><%= notice %></p>

<div class="bookmark_title"><h2>Bookmarks</h2></div> 

<table>
  <thead>
    <tr>
      <th class="bookmark_th_title">Name</th>
      <th class="bookmark_th_title">Description</th>
      <th class="bookmark_th_title">User</th>
      <th class="bookmark_th_title" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <% list = find_list_by_id(bookmark.todo_list_id) %>
      <% user = find_user_by_id(list.user_id) %>      
      <tr>
        <td class="index_row"><%= link_to list.title, todo_list_path(bookmark.todo_list_id) %></td>
        <td class="index_row"><%= list.description %></td>
        <td class="index_row"><%= user.email %></td>
        <div class="trash">
        <td> <%= link_to bookmark, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i> </td>
        <% end %>
        </div>      
                       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="links">
  <%= link_to 'New Bookmark', new_bookmark_path %> |
  <%= link_to 'Back', todo_lists_path %>
</div>
